# Для файлов в папке sign устанавливаем CRLF
sign/* text eol=crlf

# Для всех Python файлов (по всему проекту) CRLF
*.py text eol=crlf

# Для всех HTML файлов CRLF
*.html text eol=crlf

# Все остальные файлы обрабатываются автоматически
* text=auto

# Исключаем автоматически создаваемые файлы
*.pyc -text
*.log -text
db.sqlite3 -text
__pycache__/* -text
